1. Define - define how you're going to clean the data set, use bullet points as a list
2. code
3. test

In [1]:
import pandas as pd
df = pd.read_csv('animals.csv')

# Assess

In [2]:
df.head()

              Animal Body weight (kg) Brain weight (g)
0  bbMountain beaver             1!35              8!1
1              bbCow              465              423
2        bbGrey wolf            36!33            119!5
3             bbGoat            27!66              115
4       bbGuinea pig             1!04              5!5

## Clean
- remove bb before every animal name
- exclamation marks instead of decimal

In [3]:
# create a separate copy of the dataframe
df_clean = df.copy()

In [5]:
df_clean['Animal'] = df_clean['Animal'].str[2:]

In [7]:
df_clean.head()

            Animal Body weight (kg) Brain weight (g)
0  Mountain beaver             1!35              8!1
1              Cow              465              423
2        Grey wolf            36!33            119!5
3             Goat            27!66              115
4       Guinea pig             1!04              5!5

In [9]:
df_clean['Body weight (kg)'] = df_clean['Body weight (kg)'].str.replace('!','.')
df_clean['Brain weight (g)'] = df_clean['Brain weight (g)'].str.replace('!','.')

# Test

In [10]:
df_clean.head()

            Animal Body weight (kg) Brain weight (g)
0  Mountain beaver             1.35              8.1
1              Cow              465              423
2        Grey wolf            36.33            119.5
3             Goat            27.66              115
4       Guinea pig             1.04              5.5