In [10]:
import pandas as pd
from zipfile import ZipFile

In [16]:
# zipfile library is also a context manager, therefore it supports the with statement, extract the zip file
with ZipFile('armenian-online-job-postings.zip', 'r') as myzip:
    myzip.extractall()

In [17]:
df = pd.read_csv('online-job-postings.csv')

In [25]:
df.columns.values

array(['jobpost', 'date', 'Title', 'Company', 'AnnouncementCode', 'Term',
       'Eligibility', 'Audience', 'StartDate', 'Duration', 'Location',
       'JobDescription', 'JobRequirment', 'RequiredQual', 'Salary',
       'ApplicationP', 'OpeningDate', 'Deadline', 'Notes', 'AboutC',
       'Attach', 'Year', 'Month', 'IT'], dtype=object)

- NaN values 
- Start date inconsistencies
-

In [26]:
df.head()

,jobpost,date,Title,Company,AnnouncementCode,Term,Eligibility,Audience,StartDate,Duration,...,Salary,ApplicationP,OpeningDate,Deadline,Notes,AboutC,Attach,Year,Month,IT
0,AMERIA Investment Consulting Company\r\nJOB TI...,"Jan 5, 2004",Chief Financial Officer,AMERIA Investment Consulting Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,"To apply for this position, please submit a\r\...",NaN,26 January 2004,NaN,NaN,NaN,2004,1,False
1,International Research & Exchanges Board (IREX...,"Jan 7, 2004",Full-time Community Connections Intern (paid i...,International Research & Exchanges Board (IREX),NaN,NaN,NaN,NaN,NaN,3 months,...,NaN,Please submit a cover letter and resume to:\r\...,NaN,12 January 2004,NaN,The International Research & Exchanges Board (...,NaN,2004,1,False
2,Caucasus Environmental NGO Network (CENN)\r\nJ...,"Jan 7, 2004",Country Coordinator,Caucasus Environmental NGO Network (CENN),NaN,NaN,NaN,NaN,NaN,Renewable annual contract\r\nPOSITION,...,NaN,Please send resume or CV toursula.kazarian@......,NaN,20 January 2004\r\nSTART DATE: February 2004,NaN,The Caucasus Environmental NGO Network is a\r\...,NaN,2004,1,False
3,Manoff Group\r\nJOB TITLE: BCC Specialist\r\n...,"Jan 7, 2004",BCC Specialist,Manoff Group,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Please send cover letter and resume to Amy\r\n...,NaN,23 January 2004\r\nSTART DATE: Immediate,NaN,NaN,NaN,2004,1,False
4,Yerevan Brandy Company\r\nJOB TITLE: Software...,"Jan 10, 2004",Software Developer,Yerevan Brandy Company,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,Successful candidates should submit\r\n- CV; \...,NaN,"20 January 2004, 18:00",NaN,NaN,NaN,2004,1,True

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19001 entries, 0 to 19000
Data columns (total 24 columns):
jobpost             19001 non-null object
date                19001 non-null object
Title               18973 non-null object
Company             18994 non-null object
AnnouncementCode    1208 non-null object
Term                7676 non-null object
Eligibility         4930 non-null object
Audience            640 non-null object
StartDate           9675 non-null object
Duration            10798 non-null object
Location            18969 non-null object
JobDescription      15109 non-null object
JobRequirment       16479 non-null object
RequiredQual        18517 non-null object
Salary              9622 non-null object
ApplicationP        18941 non-null object
OpeningDate         18295 non-null object
Deadline            18936 non-null object
Notes               2211 non-null object
AboutC              12470 non-null object
Attach              1559 non-null object
Year                19001 non-null int64
Month               19001 non-null int64
IT                  19001 non-null bool
dtypes: bool(1), int64(2), object(21)
memory usage: 3.4+ MB

- fix non descriptive column headers
-

In [30]:
# fix column headers by converting to

TypeError: 'numpy.ndarray' object is not callable

In [35]:
df_clean.columns.values

array(['jobpost', 'date', 'Title', 'Company', 'AnnouncementCode', 'Term',
       'Eligibility', 'Audience', 'StartDate', 'Duration', 'Location',
       'JobDescription', 'JobRequirment', 'RequiredQual', 'Salary',
       'ApplicationP', 'OpeningDate', 'Deadline', 'Notes', 'AboutC',
       'Attach', 'Year', 'Month', 'IT'], dtype=object)

In [45]:
df_clean = df.copy()
df_clean.rename(columns={'ApplicationP': 'ApplicationProcedure', 'AboutC':'AboutCompany', 'RequiredQual':'RequiredQualification', 'JobRequirment':'JobRequirement'}, inplace=True)
df_clean['StartDate'].value_counts()

ASAP                                                                                                                                                      4754
Immediately                                                                                                                                                773
As soon as possible                                                                                                                                        543
Upon hiring                                                                                                                                                261
Immediate                                                                                                                                                  259
Immediate employment                                                                                                                                       140
As soon as possible.                                                                                                                                        32
01 September 2012                                                                                                                                           31
March 2006                                                                                                                                                  27
November 2006                                                                                                                                               22
January 2010                                                                                                                                                19
February 2014                                                                                                                                               17
01 February 2005                                                                                                                                            17
Immediate job opportunity                                                                                                                                   17
TBD                                                                                                                                                         16
September 2010                                                                                                                                              16
February 2011                                                                                                                                               16
September 2008                                                                                                                                              15
March 2011                                                                                                                                                  15
February 2007                                                                                                                                               14
01 February 2015                                                                                                                                            14
01 July 2014                                                                                                                                                14
January 2016                                                                                                                                                13
01 September 2008                                                                                                                                           13
01 March 2006                                                                                                                                               13
01 September 2010                                                                                                                                           13
01 March 2012                                                                                                                                               12
September 2013                                                                                                                                              12
01 October 2012                                                                                                                                             12
Fall 2010                                                                                                                                                   12
                                                                                                                                                          ...
September 01 to 15                                                                                                                                           1
23 February 2015                                                                                                                                             1
10 July 2005                                                                                                                                                 1
26 August 2004                                                                                                                                               1
31 Aug & 01 Sep  or  02 & 03 Sep 2004                                                                                                                        1
22 July 2004                                                                                                                                                 1
01 March 2014 (preferably)                                                                                                                                   1
14 August 2013                                                                                                                                               1
15 November  2005                                                                                                                                            1
15 July 2012                                                                                                                                                 1
25 November 2004                                                                                                                                             1
20 July 2008                                                                                                                                                 1
Mid-December 2007                                                                                                                                            1
November 2005 or as agreed.                                                                                                                                  1
15 August 2014                                                                                                                                               1
11 April 2010                                                                                                                                                1
27 December 2010                                                                                                                                             1
01 April 2014 or ASAP                                                                                                                                        1
18 October 2012                                                                                                                                              1
10 February 2005                                                                                                                                             1
January, 2009                                                                                                                                                1
July, 2004                                                                                                                                                   1
July 2015 (Starting from May 2015 the selected\r\ncandidates will be involved in a paid training process to fully prepare\r\nfor taking the position).       1
Mid. August                                                                                                                                                  1
15 March 2008                                                                                                                                                1
Mid of September                                                                                                                                             1
07 March 2005, 16:30 PM                                                                                                                                      1
Mid May                                                                                                                                                      1
1 May 2005                                                                                                                                                   1
08 January 2008 - 18 June 2009                                                                                                                               1
Name: StartDate, Length: 1186, dtype: int64

In [46]:
asap_list = ['Immediately', 'As soon as possible', 'Upon hiring',
             'Immediate', 'Immediate employment', 'As soon as possible.', 'Immediate job opportunity',
             '"Immediate employment, after passing the interview."',
             'ASAP preferred', 'Employment contract signature date',
             'Immediate employment opportunity', 'Immidiately', 'ASA',
             'Asap', '"The position is open immediately but has a flexible start date depending on the candidates earliest availability."',
             'Immediately upon agreement', '20 November 2014 or ASAP',
             'immediately', 'Immediatelly',
             '"Immediately upon selection or no later than November 15, 2009."',
             'Immediate job opening', 'Immediate hiring', 'Upon selection',
             'As soon as practical', 'Immadiate', 'As soon as posible',
             'Immediately with 2 months probation period',
             '12 November 2012 or ASAP', 'Immediate employment after passing the interview',
             'Immediately/ upon agreement', '01 September 2014 or ASAP',
             'Immediately or as per agreement', 'as soon as possible',
             'As soon as Possible', 'in the nearest future', 'immediate',
             '01 April 2014 or ASAP', 'Immidiatly', 'Urgent',
             'Immediate or earliest possible', 'Immediate hire',
             'Earliest  possible', 'ASAP with 3 months probation period.',
             'Immediate employment opportunity.', 'Immediate employment.',
             'Immidietly', 'Imminent', 'September 2014 or ASAP', 'Imediately']

for invalid_str in asap_list:
    df_clean.StartDate.replace(invalid_str ,'ASAP', inplace=True)

In [48]:
df_clean['StartDate'].value_counts()

ASAP                                                                                                                                            6856
01 September 2012                                                                                                                                 31
March 2006                                                                                                                                        27
November 2006                                                                                                                                     22
January 2010                                                                                                                                      19
February 2014                                                                                                                                     17
01 February 2005                                                                                                                                  17
TBD                                                                                                                                               16
September 2010                                                                                                                                    16
February 2011                                                                                                                                     16
September 2008                                                                                                                                    15
March 2011                                                                                                                                        15
01 February 2015                                                                                                                                  14
February 2007                                                                                                                                     14
01 July 2014                                                                                                                                      14
January 2016                                                                                                                                      13
01 September 2010                                                                                                                                 13
01 March 2006                                                                                                                                     13
01 September 2008                                                                                                                                 13
June 2008                                                                                                                                         12
01 October 2008                                                                                                                                   12
Fall 2010                                                                                                                                         12
01 October 2012                                                                                                                                   12
01 April 2014                                                                                                                                     12
September 2013                                                                                                                                    12
01 March 2012                                                                                                                                     12
01 April 2012                                                                                                                                     11
January 2011                                                                                                                                      11
01 September 2004                                                                                                                                 11
01 February 2012                                                                                                                                  11
                                                                                                                                                ...
On/around June 25  December 20, 2008                                                                                                               1
August, 2013                                                                                                                                       1
08 July 2008, 18:00                                                                                                                                1
21 July 2014/ 31 October 2014                                                                                                                      1
04 April 2011                                                                                                                                      1
19 May 2014                                                                                                                                        1
12 May 2014                                                                                                                                        1
08 January 2008 - 18 June 2009                                                                                                                     1
January-February 2008                                                                                                                              1
12 August 2004                                                                                                                                     1
1 September 2008                                                                                                                                   1
10 December 2008                                                                                                                                   1
15 March 2009                                                                                                                                      1
May 2009                                                                                                                                           1
30 July 2008                                                                                                                                       1
01-15 June 2007                                                                                                                                    1
Mid January                                                                                                                                        1
Summer 2007                                                                                                                                        1
16 August 2010                                                                                                                                     1
09 April 2009                                                                                                                                      1
27 April 2004                                                                                                                                      1
16 May 2006                                                                                                                                        1
03-07 July 2006                                                                                                                                    1
Applicants must be able to start no later than July\r\n19, 2004. Position to be filled as soon as possible; will remain open\r\nuntil filled       1
11 April 2005                                                                                                                                      1
08 June 2009                                                                                                                                       1
October 1, 2013                                                                                                                                    1
15 February  2006                                                                                                                                  1
20 April 2004                                                                                                                                      1
August 2015                                                                                                                                        1
Name: StartDate, Length: 1140, dtype: int64

In [51]:
for phrase in asap_list:
    assert phrase not in df_clean['StartDate'].values

In [56]:
%matplotlib inline
import numpy as np


# np.full returns a new array of a particular shape filled with fill_values
np.full((2,3), 3)

# (len(df_clean.StartDate.value_counts()), ""
# labels = np.full(len(df_clean)

array([[3, 3, 3],
       [3, 3, 3]])